# Logs
*.log

# Videos and images
*.mp4
*.avi
*.mov
*.mkv
*.png
*.jpg
*.jpeg
*.gif
*.webp

*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
data
submodules/
colmap/
.ipynb_checkpoints/